.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidenav---sidenav---_2tBP {
  background: #00485f !important;
}

.sidenav---sidenav---_2tBP>div {
  background: transparent !important;
}

.page-builder {
  border: 1px solid #ccc;
  min-height: 100vh;
  position: relative;
  background: aliceBlue;
}

.drag-heading {
  margin: 15px;
  /* padding: 0 25px; */
  color: white;
}

.drag-item {
  cursor: move;
  margin: 15px;
  padding: 0 25px;
  background: white;
  border-radius: 8px;
  color: #282c34;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.drag-image {
  width: 12px;
  margin-right: 8px;
}

.inherit-style {
  font-size: inherit !important;
  font-weight: inherit !important;
}

.export-btn {
  margin: 15px;
  /* padding: 0 25px; */
}